<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<script src="js/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/css.css"/>
		<title>hello world</title>
	</head>

	<body>

		<!--
	<textarea ng-model="message" cols="40" rows="10"></textarea>
	<p>剩余字数: <span ng-bind="left()"></span></p>
	<button ng-click="save()">保存</button>
	<button ng-click="clear()">清除</button>
-->
		<!--
  	作者：285493005@qq.com
  	时间：2016-04-25
  	描述：novalidate 用于禁用浏览器默认的验证
  -->
		<form class="form-horizontal cw-form demo-form" name="myForm" ng-app="myNoteApp" novalidate  align="center">
			<div class="form-group" ng-controller="myNoteCtrl">
				<h2>计算器</h2>
				<!--
	number
<input type="number" id="num1" name="num1" ng-model="num1" ng-bind="returnNum()" required/>-->
				<input type="text" ng-model="num1" required/>
				<select id="selectBiz" ng-model="biz">
					<option value="1">+</option>
					<option value="2">-</option>
					<option value="3">*</option>
					<option value="4">/</option>
				</select>
				<input type="text" ng-model="num2" required/> =
				{{ returnNum() }}
				<p>
					{{ errorMsg }}
				</p>
			</div>
		</form>

		<script src="js/myNoteApp.js"></script>
		<script src="js/myNoteCtrl.js"></script>
	</body>

</html>