<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="js/angular.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>hello world</title>
</head>
<body>
<body>

<h2>我的计算器</h2>


<!--
	<textarea ng-model="message" cols="40" rows="10"></textarea>
	<p>剩余字数: <span ng-bind="left()"></span></p>
	<button ng-click="save()">保存</button>
	<button ng-click="clear()">清除</button>
-->
<!--
  	作者：285493005@qq.com
  	时间：2016-04-25
  	描述：novalidate 用于禁用浏览器默认的验证
  -->
<form name="myForm" ng-app="myNoteApp" novalidate>      
<div ng-controller="myNoteCtrl">
<!--
	number
<input type="number" id="num1" name="num1" ng-model="num1" ng-bind="returnNum()" required/>-->
<input type="text" id="num1" name="num1" ng-model="num1" ng-bind="returnNum()" required/>
<select id="selectBiz" ng-model="biz" >
	<option value="1">+</option>
	<option value="2">-</option>
	<option value="3">*</option>
	<option value="4">/</option>
</select>
<input type="text" id="num2" name="num2" ng-model="num2" required/>
=
<input type="text" id="num3" ng-model="num3"/>
<p>
{{ errorMsg }}
</p>
</div>
</form>

<script src="js/myNoteApp.js"></script>
<script src="js/myNoteCtrl.js"></script>
</body>
</html>